.user-content__list-item
  .user-content__inner
    .user-content__main
      .user-content__thumbnail-container
        .user-content__thumbnail
          userthumbnail
        .user-content__name-container
          %p.user-content__name username
    .user-content__botton-container
      %button.button-default 友達追加する
