.button-default {
  display: block;
  width: 100%;
  padding: 14px;
  background: #ff9d68;
  font: bold 15px/1 "Yu Gothic";
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: .3s;
  &:hover {
    background: #ff8a4b;
  }
  &:focus {
    outline: none;
  }
}

/* feed card action*/
.card-action__button-container {
  margin: 16px 0 0;
  @media screen and (max-width: 680px) {
    margin: 0;
  }
  .button-default {
    font-size: 22px;
    @media screen and (max-width: 680px) {
      font-size: 18px;
    }
  }
}

/* feed my action*/
.my-action__button-container {
  .button-default{
    width: 160px;
    @media screen and (max-width: 680px) {
      width: auto;
    }
    .fa {
      margin: 0 8px 0 0;
      font-size: 18px;
    }
  }
}
