.feed__card-items {
  margin: 36px 0 0;
}

.feed__card-item {
  display: flex;
  margin: 0 0 24px;
  padding: 28px 60px;
  background: #fff;
  &:last-child {
    margin: 0;
  }
}

.feed__profile {
  width: 150px;
  margin: 0 48px 0 0;
  text-align: center;
}

.feed__profile-user-icon {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background: #eee;
  border-radius: 50%;
}

.feed__profile-name {
  margin: 10px 0 0;
  font: bold 15px/1.5 "Yu Gothic";
}

.feed__date {
  font: 12px/1.5 "Yu Gothic";
  color: #666;
}

.feed__content {
  width: 360px;
}

.feed__content-two-columns {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.feed__detail {
  width: 174px;
  margin: 18px 0 0;
  padding: 34px 16px 24px;
  position: relative;
  border: solid 1px #eee;
}

.feed__detail-text {
  font: bold 15px/1.5 "Yu Gothic";
}

.feed__detail-text span {
  padding: 0 0 0 6px;
  font-size: 12px;
}

.feed-icon {
  width: 36px;
  height: 36px;
  margin: auto;
  background: #fff8d6;
  position: absolute;
  top: -18px;
  left: 0;
  right: 0;
  border-radius: 50%;
}

.fa.feed-icon {
  font: 22px/36px FontAwesome;
  color: #ff9d68;
}

.feed__comment {
  margin: 12px 0 0;
  padding: 16px;
  font: 15px/1.5 "Yu Gothic";
  border: solid 1px #eee;
}

/** may action **/
.my-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 14px 60px;
  position: relative;
}

.my-action__icon {
  width: 80px;
  height: 80px;
  margin: 0 34px;
  background: #eee;
  border-radius: 50%;
}

.my-action__text {
  font: bold 15px/1.5 "Yu Gothic";
}
