.form__container {
  width: 360px;
  padding: 24px;
  background: #fff8d6;
  border-radius: 4px;
}

.form-item {
  margin: 0 0 20px;
  padding: 0 0 20px;
  &:last-child {
    margin: 0;
  }
}

.form-label {
  display: block;
  margin: 0 0 8px;
  font: bold 15px/1.4 "Yu Gothic";
  @media screen and (max-width: 680px) {
    font-size: 12px;
  }
}

.form-control, .form-control-textarea {
  width: 100%;
  padding: 12px 16px;
  background: #eee;
  font: 15px/1.4 "Yu Gothic";
  border: none;
  border-radius: 4px;
  &:focus {
    background: #fff;
  }
  @media screen and (max-width: 680px) {
    font-size: 12px;
    padding: 10px 12px;
  }
}

.form-control-textarea {
  height: 140px;
  resize: vertical;
}

.form-select__container {
  position: relative;
  &:before {
    content: "";
    width: 0;
    height: 0;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 15px;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #222 transparent transparent transparent;
  }
}

.form-select {
  width: 100%;
  padding: 12px 16px;
  font-size: 15px;
  border: solid 1px #eee;
  border-radius: 4px;
  outline:none;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  @media screen and (max-width: 680px) {
    font-size: 12px;
  }
}

.form-select:-ms-expand {
  display: none;
}

.form-select {
  background: #fff;
}

.form-select:-moz-focusring { 
  color: transparent; 
  text-shadow: 0 0 0 #fff;
}

.form-link__container {
  margin: 6px 0 0;
  text-align: right;
}

.shared__link-items {
  display: flex;
  justify-content: flex-end;
  margin: 24px 0 0;
}

.shared__link-item {
  margin: 0 16px 0 0;
  font: bold 15px/1.4 "Yu Gothic";
  &:last-child {
    margin: 0;
  }
}
