.form__post-new {
  max-width: 600px;
  margin: 24px auto 0;
  padding: 40px;
  background: #fff;
  @media screen and (max-width: 680px) {
    padding: 24px;
  }
}

.form-radio__container {
  display: flex;
  margin: 16px 0 0;
  @media screen and (max-width: 680px) {
    display: block;
  }
}

.form-radio {
  margin: 0 24px 0 0;
  @media screen and (max-width: 680px) {
    margin: 0 0 10px;
    &:last-child {
      margin: 0;
    }
  }
}

.post-new__radio {
  display: none;
}

.post-new__radio-text {
  padding: 2px 0 0 24px;
  position:relative;
  font: 15px/1.4 "Yu Gothic";
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border: 2px solid #eee;
    border-radius: 50%;
  }
  @media screen and (max-width: 680px) {
    padding: 1px 0 0 18px;
    font-size: 12px;
    &:before {
      width: 10px;
      height: 10px;
    }
  }
}

.post-new__radio:checked + .post-new__radio-text {
  font-weight: bold
}

.post-new__radio:checked + .post-new__radio-text:before {
  border-color: #ff9d63;
}

.post-new__radio:checked + .post-new__radio-text:after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 11px;
  height: 11px;
  background: #ff9d63;
  border-radius: 50%;
  @media screen and (max-width: 680px) {
    width: 6px;
    height: 6px;
  }
}

.form-note {
  padding-left: 1em;
  text-indent: -1em;
  margin: 12px 0 0;
  font: 12px/1.5 "Yu Gothic";
  color: #666;
  @media screen and (max-width: 680px) {
    font-size: 10px;
  }
}
