%footer.footer
  .footer-inner
    %h2.footer-logo Cheers!
    %p.footer_copyright.font-en © 2018 Cheers!

.mobile-menu
  %ul.mobile-menu__items
    %li.mobile-menu__item
      .icon-link
        =link_to '/' do
          %i.fa.fa-home
          %p.icon-link-text ホーム
    %li.mobile-menu__item
      .icon-link
        =link_to '/posts/new' do
          %i.fa.fa-pencil
          %p.icon-link-text 投稿
    %li.mobile-menu__item
      .icon-link
        =link_to '/user' do
          %i.fa.fa-bell
          %p.icon-link-text 通知
    %li.mobile-menu__item
      =link_to('', '/user', class: 'user-icon')
